@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');
@import "container";
@import "mixins";
@import "sprite";
@import "variables";



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font_size_main;
    font-family: $font_family_main;
}



.section {
    max-width: 1440px;
    height: 100vh;
    min-height: 900px;
    position: relative;
    background: #9789F9;
}

.content {
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 700px;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 90%;

    background: url(../img/bg-image.png) no-repeat;
    background-position: center bottom 50px;
    background-color: #F5F3F9;


}

.box:hover {
    transform: scale(1.07);
    transition: all 0.2s linear;
}


.popular {
    width: 70px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;

    &__badge {
        object-fit: contain;
        
    }

    &__link[title]:hover::after {
        content: url(../img/tooltip.png);
        position: absolute;
        top: -80%;
        transform: rotate(325deg);
        
    }
}

.box:hover > .popular {
    visibility: visible;
 }

.price {
    text-align: center;

    &__number span {
        font-size: 60px;

    }

    &__title {
        font-family: $font_family_title;
        font-size: 24px;
        letter-spacing: 0.1em;
    }

}

.offers {


    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        margin-bottom: 30px;
    }
}


.button {
    text-align: center;

    &__btn {
        width: 200px;
        height: 55px;
        background: #6FCFFB;
        color: #fff;
        border: none;
        border-radius: 30px;
        bottom: -25px;
        position: relative;
    }

    &__discount {
        font-size: 11px;
        margin: 0;
        visibility: hidden;
        bottom: -50px;
        position: relative;
        opacity: 0.5;
    }
}

.box:hover>.box__badge {
    visibility: visible;
}

.box:hover>.button>.button__discount {
    visibility: visible;
}

.box:hover>.button>.button__btn {
    top: -25px;
    background-color: orange;
    cursor: pointer;
}